/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
}

header p {
    text-align: center;
    font-size: 18px;
    color: #77aaff;
}

/* Sections */
section {
    padding: 20px 0;
}

section h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

section p, section ul {
    font-size: 18px;
    line-height: 1.8;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    background: #77aaff;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Links */
a {
    color: #77aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
